* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* # COLORS # */

/* #0061FF */

/* #B4D0E7 */


/* BONUS BORDERS */

.b1,
.b2,
.b3,
.b4,
.b5,
.b6 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-items: center;
    width: 150px;
}

.b1:hover,
.b2:hover,
.b3:hover,
.b4:hover,
.b5:hover,
.b6:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

/* BONUS ACCORDION  */

.accordion {
    display: none;
    padding: 30px 0px;
    animation: fade 1.5s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 30%;
    }

    to {
        opacity: 100%;
    }
}

.col-freq-question:hover .accordion {
    display: block;
    max-height: 50px;
}

.col-freq-question:hover .fa-angle-down {
    transform: rotate(180deg);
}

/* GENERICS */

hr {
    width: 30%;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-size: 6rem;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

h2 {
    font-size: 3rem;
}


span {
    padding-right: 30px;
}


/* HEADER */

header {
    background-color: white;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px grey;
}

header ul {
    display: flex;
    align-items: center;
}

.row-head {
    display: flex;
    justify-content: space-between;
}

.col-head {
    display: flex;
}

#logo {
    padding: 0px 30px;
    position: relative;
    bottom: 2px;
}

/* UTILS */

.ml-r20 {
    margin-right: 20px;
}

.d-il-block {
    display: inline-block;
}

.pad-bot10 {
    padding-bottom: 10px;
}

.pad-bot50 {
    padding-bottom: 50px;
}

.pad-bot100 {
    padding-bottom: 100px;
}

.pad-top50 {
    padding-top: 50px;
}

.pad-top100 {
    padding-top: 100px;
}

.pad-top150 {
    padding-top: 150px;
}

.pad-bot25 {
    padding-bottom: 25px;
}

.title-top {
    width: 100%;
}

.pad-top25 {
    padding-top: 25px;
}

.mb-top50 {
    margin-top: 50px;
}

.w100 {
    width: 100%;
}

.plus-font {
    font-size: 1.3rem;
}

.plus-font3 {
    font-size: 1.7rem;
}

.txt-center {
    padding: 1rem;
    text-align: center;
}

.txt-right {
    text-align: right;
}

.color-red {
    color: #61082B;
}

.color-grey {
    color: grey;
}

/* BORDERS */

.bor-bot {
    border-bottom: 1px solid rgb(189, 184, 184);
}

.plans-borders {
    border: 1px solid rgb(189, 184, 184);
}

.faq-border {
    border-bottom: 1px solid rgb(0, 0, 0);
}

/* ICONS  */

.fa-angle-down {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 50px;
}

.fa-circle {
    padding-right: 5px;
    color: #4491C7;
}

.fa-check {
    color: #0061FF;
}

/* NAV BARS */

.navbar-left,
.navbar-right {
    display: flex;
    height: 100px;
}

.offers {
    padding: 1rem;
}

/* BUTTONS */

.blue-button {
    background-color: #0061FF;
    color: white;
    padding: 10px 45px;
}

#blue-btn {
    background-color: #0061FF;
    color: white;
    margin-right: 20px;
    padding: 10px 20px;
}

#blue-button {
    background-color: #0061FF;
    color: white;
    padding: 10px 45px;
}

.blue-button:hover {
    filter: brightness(120%);
}


.btn-contact {
    background-color: #0061FF;
    color: white;
    padding: 10px 110px;
    text-align: center;
}

.btn-move {
    height: 35px;
}

.btn-white {
    background-color: white;
    padding: 10px 40px;
}

.btn-partner {
    padding: 15px 30px;
    border: 1px solid rgb(189, 184, 184);
}

/* CONTAINER */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* JUMBOTRON */

.jumbo-color {
    background-color: #B4D0E7;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 870px;
}

.jumbotron {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.jumbo-content {
    display: flex;
}

.col-jumbo-sx>p {
    font-size: 1.6rem;
}

.col-jumbo-sx {
    flex-basis: 35%;
}

.col-jumbo-dx {
    flex-basis: 65%;
}

#img-jumbo {
    top: 150px;
    left: 0;
    position: relative;
    height: 500px;
}

.row {
    display: flex;
}


.col-plans>ul {
    margin-left: 0;
}

.offers>li {
    font-size: 1.3rem;
}

.plans-card {
    display: flex;
    justify-content: space-between;
}

.col-plans {
    flex-basis: 30%;
}

/* TEAM */

.col-team-sx {
    padding: 1rem;
    flex-basis: 60%;
}

.col-team-dx {
    padding: 1rem;
    flex-basis: 40%;
    display: flex;
    justify-content: end;
}

.find-more {
    text-decoration: underline;
    color: blue;
}

/* PARTNER */

.row-partner {
    display: flex;
}

.col-partner-sx {
    flex-basis: 70%;
}

.col-partner-dx {
    line-height: 30px;
    padding: 2rem;
    flex-basis: 30%;

}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.enlarge {
    font-size: 2rem;
}

.col-business {
    flex-basis: 30%;
}


.title-usage {
    flex-basis: 60%;
    margin-top: 2rem;
}


/* SQUARES CONTAINER */


.square-container {
    background-color: #B4D0E7;
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.green-square:hover,
.darkred-square:hover,
.blue-square:hover,
.red-square:hover,
.yellow-square:hover,
.darkblue-square:hover,
.nocolor-square:hover {
    border: 20px inset rgba(0, 200, 0, 0.8);
}


/* SQUARES LEFT */


.square-left {
    flex-wrap: wrap;
    display: flex;
    width: calc(100% / 3);
}

.green-square {
    background-color: #A2D39B;
    width: 50%;
    height: 50%;

}


.darkred-square {
    background-color: #61082B;
    width: 50%;
    height: 50%;

}

.blue-square {
    background-color: #0093CE;
    width: 50%;
    height: 50%;

}

.red-square {
    background-color: #FF1C1D;
    width: 50%;
    height: 50%;

}


/* SQUARE MID */

.mid-square {
    width: calc(100% / 3);
    height: 100%;
    background-color: #f5f5f4;
}

/* SQUARES RIGHT */

.square-right {
    flex-wrap: wrap;
    display: flex;
    width: calc(100% / 3);
}

.yellow-square {
    background-color: #FFD830;
    width: 50%;
    height: 50%;
}

.darkblue-square {
    background-color: #0D2481;
    width: 50%;
    height: 50%;

}

.nocolor-square {
    width: 50%;
    height: 50%;
}

.under-square {
    background-color: #B4D0E7;
    width: 100%;
}

/* SQUARES CONTENT */


.img-companies {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    filter: invert(100%);
}

#designit {
    display: block;
    width: 50%;
    height: 120px;
}

.designit-container {
    padding: 3rem;
}

/* AGENCY SECTION */

.col-azienda-sx {
    width: 50%;
    height: 150px;
}

.col-azienda-dx {
    text-align: right;
    width: 50%;
    height: 150px;
}

/* DOMANDE FREQUENTI */

.col-freq-question {
    width: 100%;
    position: relative;
}







/* FOOTER */

footer {
    height: 500px;
    background-color: black;
    color: white;
}

.col-footer {
    flex-basis: calc(100% / 5);
}

.hr-footer {
    width: 40%;
}

ul.color-white li a {
    color: white;
}