* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
}

/* COLORS */

/* #0061FF */

/* #B4D0E7 */

header {
    background-color: white;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

h1{
    font-size: 6rem;
}

ul{
    list-style-type: none;
}


.navbar{
    display: flex;
}

a{
    color: black;
}

#annulla{
    padding-top: 50px;
}

.navbar{
    color: black;
}
.blue-button{
    background-color: #0061FF;
    color: white;
    padding: 10px;
}

li{
    padding-right: 3rem;
}


.debug {
    border: 1px solid black;
}

.row-head {
    display: flex;
    justify-content: space-between;
}

.col-head {
    display: flex;
}

img{
}

/* CONTAINERS */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 100%;
}

.jumbo-color {
    background-color: #B4D0E7;
    padding-top: 50px;
    padding-bottom: 50px;
}

.jumbotron {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#logo{
    height: 50px;
    padding-right: 50px;
}

p{
    font-size: 2rem;
}


/* UTILS */


.pad-bot50{
    padding-bottom: 50px;
}

.pad-top50{
    padding-top: 50px;
}

.pad-bot25{
    padding-bottom: 25px;
}

.pad-top25{
    padding-top: 25px;
}

.jumbo-content {
    display: flex;
}

.col-jumbo-sx {
    flex-basis: 100%;
}

#img-jumbo{
    width: 100%;
    height: auto;
}

.fa-solid{
}

a{
    text-decoration: none;
}

h2{
    font-size: 3rem;
}

.col-jumbo-dx {
    flex-grow: 1;
}

.title-top {
    width: 100%;
}

span{
    padding-right: 30px;
}

.fa-solid.fa-circle{
    padding-right: 5px;
    color: #4491C7;
}

.plans-card {
    display: flex;
    justify-content: space-between;
}

.col-plans {
    flex-basis: 30%;
}

.team {}

.col-team-sx {
    flex-basis: 70%;
}

.col-team-dx {
    flex-basis: 30%;
}

.col-team-down {
    flex-basis: 100%;
}

.row-partner {
    display: flex;
    height: 400px;
}

.col-partner-sx {}

.col-partner-dx {}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-business {
    flex-basis: 30%;
}


.title-usage {
    margin-top: 2rem;
}

.square-container-sx {
    min-height: 400px;
    max-width: 25%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

[class*="square"] {
    width: 50%;
    height: 200px;
}

.square {
    background-color: lightgreen;
}

.under-square {
    background-color: aqua;
    width: 100%;
}

.col-azienda-sx {
    width: 50%;
    height: 150px;
}

.col-azienda-dx {
    width: 50%;
    height: 150px;
}

.freq-question {
    height: 300px;
}

.col-freq-question {
    width: 100%;
}

footer {
    background-color: black;
    color: white;
}

.col-footer {
    border: 1px solid white;
    flex-basis: calc(100% / 5);
}