* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
}

/* COLORS */

/* #0061FF */

/* #B4D0E7 */




header {
    background-color: white;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

.navbar-left>li,
.navbar-right>li {
    padding-right: 3rem;
}

h1 {
    font-size: 6rem;
}

ul {
    list-style-type: none;
}

.navbar-left li:first-child {
    height: 50px;
}

.navbar-left li:first-child a {
    display: inline-block;
    height: 100%;
}

.navbar-left .li:first-child a #logo {
    height: 100%;
}



.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    color: black;
}

.offers {
    padding: 1rem;
}

a {
    color: black;
}

#annulla {
    padding-top: 50px;
}

.blue-button {
    background-color: #0061FF;
    color: white;
    padding: 10px 20px;
}

.offers>li {
    font-size: 1.5rem;
}

#partner-img {
    width: 100%;
}

.debug {
    border: 1px solid rgb(189, 184, 184);
}

.row-head {
    display: flex;
    justify-content: space-between;
}

.col-head {
    display: flex;
}

hr {
    width: 30%;
}

/* CONTAINERS */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 100%;
}


#logo {
    height: 40px;
    padding-right: 50px;
}

.col-jumbo-sx>p {
    font-size: 2rem;
}

/* UTILS */

.d-il-block {
    display: inline-block;
}

.pad-bot50 {
    padding-bottom: 50px;
}
.pad-bot100 {
    padding-bottom: 100px;
}

.pad-top50 {
    padding-top: 50px;
}

.pad-top100 {
    padding-top: 100px;
}

.pad-bot25 {
    padding-bottom: 25px;
}

.pad-top25 {
    padding-top: 25px;
}

.w100 {
    width: 100%;
}

.btn-contact{
    background-color: #0061FF;
    color: white;
    padding: 10px 110px;
    text-align: center;
}

.faq-border{
    border-bottom: 1px solid rgb(0, 0, 0);
}

.btn-white {
    background-color: white;
    padding: 10px 40px;
    
}

.plus-font {
    font-size: 1.5rem;
}

.plus-font3 {
    font-size: 1.7rem;
}

.color-red {
    color: #61082B;
}

/* JUMBOTRON */

.jumbo-color {
    background-color: #B4D0E7;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 850px;
}

.jumbotron {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.jumbo-content {
    display: flex;
}

.col-jumbo-sx {
    flex-basis: 40%;
}

.col-jumbo-dx {
    flex-basis: 60%;
    position: relative;
}


#img-jumbo {
    left: 0;
    position: absolute;
    height: 600px;
}

.btn-partner {
    padding: 10px;
    border: 1px solid rgb(189, 184, 184);
}

.txt-center {
    padding: 1rem;
    text-align: center;
}

.txt-right {
    text-align: right;
}

.bor-bot {
    border-bottom: 1px solid rgb(189, 184, 184);
}

.fa-solid {}

a {
    text-decoration: none;
}

h2 {
    font-size: 3rem;
}

.col-jumbo-dx {
    flex-grow: 1;
}

.title-top {
    width: 100%;
}

span {
    padding-right: 30px;
}

.row {
    display: flex;
}

.fa-solid.fa-circle {
    padding-right: 5px;
    color: #4491C7;
}


.plans-card {
    display: flex;
    justify-content: space-between;
}

.col-plans {
    flex-basis: 30%;
}

.fa-check {
    color: #0061FF;
}

.col-team-sx {
    padding: 1rem;
    flex-basis: 60%;
}

.col-team-dx {
    padding: 1rem;
    flex-basis: 40%;
}

.find-more {
    text-decoration: underline;
    color: blue;
}

.row-partner {
    display: flex;
}

.col-partner-sx {
    flex-basis: 70%;
}

.col-partner-dx {
    padding: 1rem;
    flex-basis: 30%;

}

img {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.enlarge {
    font-size: 2rem;
}

.col-business {
    flex-basis: 30%;
}


.title-usage {
    flex-basis: 60%;
    margin-top: 2rem;
}


/* SQUARES CONTAINER */


.square-container {
    background-color: #B4D0E7;
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

/* SQUARES LEFT */


.square-left {
    flex-wrap: wrap;
    display: flex;
    width: calc(100% / 3);
}

.green-square {
    background-color: #A2D39B;
    width: 50%;
    height: 50%;

}

.darkred-square {
    background-color: #61082B;
    width: 50%;
    height: 50%;

}

.blue-square {
    background-color: #0093CE;
    width: 50%;
    height: 50%;

}

.red-square {
    background-color: #FF1C1D;
    width: 50%;
    height: 50%;

}

/* SQUARE MID */

.mid-square {
    width: calc(100% / 3);
    height: 100%;
    background-color: #f5f5f4;
}

/* SQUARES RIGHT */

.square-right {
    flex-wrap: wrap;
    display: flex;
    width: calc(100% / 3);
}

.yellow-square {
    background-color: #FFD830;
    width: 50%;
    height: 50%;
}

.darkblue-square {
    background-color: #0D2481;
    width: 50%;
    height: 50%;

}

.red-square {
    width: 50%;
    height: 50%;

}

.nocolor-square {
    width: 50%;
    height: 50%;
}


/* SQUARES CONTENT */


#img-companies {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    filter: invert(100%);
}

.designit-container {
    padding: 3rem;
}

.col-freq-question{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#designit {
    display: block;
    width: 50%;
    height: 120px;
}

.under-square {
    background-color: #B4D0E7;
    width: 100%;
}

.col-azienda-sx {
    width: 50%;
    height: 150px;
}

.col-azienda-dx {
    text-align: right;
    width: 50%;
    height: 150px;
}

footer {
    background-color: black;
    color: white;
}

.col-footer {
    border: 1px solid white;
    flex-basis: calc(100% / 5);
}